html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
*{
  box-sizing: border-box;
}